<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="login()">Entrar</ion-button>
      <ion-button expand="full" fill="clear" [routerLink]="['/registro']">Não tem uma conta? Registre-se</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
