<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" [routerLink]="['/biblioteca']">Ir para Biblioteca</ion-button>
  <ion-button expand="full" [routerLink]="['/favoritos']">Ver Favoritos</ion-button>
  <ion-button expand="full" [routerLink]="['/estatisticas']">Ver Estatísticas</ion-button>
  <ion-button expand="full" [routerLink]="['/configuracoes']">Configurações</ion-button>
  <ion-button expand="full" [routerLink]="['/notificacoes']">Notificações</ion-button>
  <ion-button expand="full" [routerLink]="['/perfil-usuario']">Perfil</ion-button>
</ion-content>
